body {
  margin: 0 auto;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

#root {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 0;
  text-align: center;
  color: #333333;
}

.article-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.article-card:hover {
  opacity: 0.9;

}
.comments-votes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.thumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
}

.topic-list {
  text-decoration: none;
}

.topic-list:hover {
  color: black;
  text-decoration: underline;
  border-radius: 5px;
}
.icon:hover {
  color: #BBDEFB;
  text-decoration: underline;
}