#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.article-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
}
.comments-votes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.thumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2em;
}

.comment-form {
  display: inline-flex;
  flex-direction: column;
}
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
